{ 
    BasedOnStyle: Google, 
    IndentWidth: 4, 
    ColumnLimit: 0, 
    NamespaceIndentation: All, 
    AllowShortIfStatementsOnASingleLine: true,
    AllowAllParametersOfDeclarationOnNextLine: true,
    AccessModifierOffset: -4,
    SpacesBeforeTrailingComments: 1,
    BinaryOperator: NonAssignment,
    BinPackArguments: true,
    AllowAllArgumentsOnNextLine: true,
    AlignAfterOpenBracket: DontAlign
}