{ 
  BasedOnStyle: Google,
  SortIncludes: false,
  IndentWidth: 4, 
  ColumnLimit: 0, 
  NamespaceIndentation: All,
  AllowAllParametersOfDeclarationOnNextLine: true,
  AccessModifierOffset: -4,
  SpacesBeforeTrailingComments: 1,
  PackConstructorInitializers: Never,
  BreakBeforeBinaryOperators: NonAssignment,
  BreakArrays: false,
  MaxEmptyLinesToKeep: 1,
  BreakBeforeTernaryOperators: true,
  BreakConstructorInitializers: BeforeColon,
  BinPackArguments: true,
  AllowAllArgumentsOnNextLine: true,
  AlignAfterOpenBracket: DontAlign,
  EmptyLineBeforeAccessModifier: LogicalBlock,
  AlignOperands: DontAlign,
  SpaceAfterTemplateKeyword: false,
  ContinuationIndentWidth: 4,
  ShortNamespaceLines: 0,
  FixNamespaceComments: true,
  PointerAlignment: Left
}